DB_HOST = "localhost"
DB_NAME = "AxionSync"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_PORT = "5433"

FRONTEND_BASE_URL = "http://localhost:3000"
BACKEND_BASE_URL = "http://localhost:8000"

X_API_KEY =  "['1234']"