@import "modern-normalize/modern-normalize.css";
@import "tailwindcss";

:root {
  --color-primary: #ff7a00; /* ส้มพาสเทล ส้มเข้มสดใส ใช้กับปุ่ม / โลโก้ / icon */
  --color-secondary: #2c2c2c; /* ส้มอ่อน เทาเข้มสำหรับพื้นหลัง header */
  --color-accent: #ffd580; /* ส้มเข้ม ส้มพาสเทลนุ่ม ๆ ใช้กับ hover หรือเน้นข้อความ */
  --color-text: #333333; /* สีตัวหนังสือ สีตัวอักษรอ่านง่าย */
  --color-bg: #fff7f0; /* สีพื้นหลัง พื้นหลังขาวอมส้ม ดูอบอุ่น  */
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Segoe UI", sans-serif;
}


/* Loading Overlay แบบโปร่งมี animation */
.global-loading {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* วงกลมหมุน */
.global-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: var(--color-primary);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#notification-root {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  pointer-events: none; /* เพื่อให้คลิกผ่านได้ */
}